:root {
  // accent
  --primary-100: #73a5ff;
  --primary-300: #4c8dff;
  --primary-500: #397df6;
  --primary-700: #2f68cc;
  --primary-900: #234e99;

  // success
  --success-100: #80ffbf;
  --success-300: #22e584;
  --success-500: #14cc70;
  --success-700: #0f9954;
  --success-900: #0a6638;

  // danger
  --danger-100: #ff8099;
  --danger-300: #f23d61;
  --danger-500: #cc1439;
  --danger-700: #990f2b;
  --danger-900: #660a1d;

  // warning
  --warning-100: #ffd073;
  --warning-300: #e5ac39;
  --warning-500: #d99000;
  --warning-700: #960;
  --warning-900: #640;

  // light
  --light-100: #fff;
  --light-300: #f7fbff;
  --light-500: #edf3fa;
  --light-700: #d5dae0;
  --light-900: #8d9094;

  // dark
  --dark-100: #4c4c4c;
  --dark-300: #333;
  --dark-500: #171717;
  --dark-700: #0d0d0d;
  --dark-900: #000;
}
