@import '@/app/styles/mixins';

.table {
  margin-top: 4px;
  margin-bottom: 36px;
}

@include tablet {
  .tableHead {
    display: none;
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .body .row {
    display: flex;
    flex-direction: column;
    gap: 12px;

    padding: 19px 12px 17px;

    background-color: var(--dark-500);
    border: 1px solid var(--dark-300);
  }

  .cell::before {
    content: attr(data-label);
    font-weight: 400;
  }

  .cell {
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-weight: 700;
  }
}
