@import '@/app/styles/mixins';

.table {
  margin-top: 4px;
  margin-bottom: 36px;
}

.mobileTable {
  display: none;
}

@include tablet {
  .table {
    display: none;
  }

  .mobileTable {
    display: flex;
  }
}
