@import '@/app/styles/mixins';

.container {
  padding-top: 30px;
}

.card {
  display: flex;
  column-gap: 12px;
  min-height: 120px;

  & .icon {
    margin-top: 6px;
  }
}

.title {
  margin-bottom: 12px;
}

.terminate {
  display: block;
  margin: 24px 0 18px auto;
}

.activeSessions {
  margin-bottom: 12px;

  &:last-child {
    margin: 0;
  }
}

.logOut {
  margin-left: auto;
  padding: 0;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-medium);
  color: var(--light-100);
}

.lastVisit {
  margin-top: 5px;
}

@include mobile {
  .terminate {
    width: 100%;
    margin: 24px 0 30px;
  }
}
