@import '@/app/styles/mixins';

.posts {
  display: grid;
  grid-auto-rows: 391px;
  grid-template-columns: repeat(auto-fit, minmax(234px, 1fr));
  gap: 12px;

  margin-top: 12px;
}

@include mobile {
  .posts {
    place-items: center;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
}
