.posts {
  display: grid;
  grid-auto-rows: 391px;
  grid-template-columns: repeat(auto-fit, minmax(234px, 1fr));
  gap: 12px;
  align-items: start;

  margin-top: 12px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
