.header {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 12px;

  color: var(--light-100);

  background-color: var(--dark-500);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  & .button {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    padding: 8px;

    background-color: var(--dark-100);
    border-radius: 50%;

    &:hover {
      background-color: var(--light-900);
    }

    &:active {
      background-color: var(--light-100);
    }
  }
}

// select year
.select {
  font-weight: var(--font-weight-bold);
  background-color: var(--dark-500);
  outline: none;

  &.year {
    max-width: 60px;
  }
}

.viewport {
  overflow-y: auto;
  height: 100%;
  max-height: 8rem;
}
