@import '@/app/styles/mixins';

.wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 438px;
  padding: 30px 24px 36px;
}

.content {
  align-self: start;
  margin-bottom: 30px;
}

.actions {
  display: flex;
  gap: 24px;
  align-self: end;
}

@include mobile {
  .root {
    width: 95%;
  }

  .wrapper {
    max-width: unset;
  }

  .actions {
    display: flex;
    flex-direction: column;
    align-self: unset;
  }

  .btn {
    width: 100%;
    padding: 12px 24px;
  }
}
