.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.slider {
  overflow-x: auto;
  display: flex;
  gap: 10px;

  width: 100%;
  padding-bottom: 5px;
}

.slide {
  position: relative;
  width: 100px;
  height: 100px;
}

//.image {
//  position: unset;
//}

.userBanner p {
  font-size: var(--font-size-m);
}

.submitBtn {
  position: absolute;
  top: 12px;
  right: 24px;

  padding: 0;

  color: var(--primary-500);

  background-color: transparent;
}
