@import '@/app/styles/mixins';

.PostsList {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;

  margin-top: 12px;
}

@include mobile {
  .PostsList {
    grid-template-columns: repeat(3, 1fr);
  }
}
