@import '@/app/styles/mixins';

.dialog {
  width: 100%;
  max-width: 972px;
}

.closeIcon {
  position: fixed;
  top: -36px;
  right: -36px;

  width: 24px;
  height: 24px;
}

@include mobile {
  .dialog {
    height: calc(100vh - var(--header-height));
    margin-top: 28px;
    background-color: var(--dark-700);
  }

  .dialogClose {
    display: none;
  }
}
