.viewport {
  position: absolute;
  top: 5px;
  left: 90px;

  background-color: rgba(#171717, 0.7); // dark-500
  border: none;
}

.expandBtn {
  z-index: 300;

  width: 100%;
  padding: 6px;

  color: var(--light-100);

  background-color: var(--dark-300);

  transition: all 0.3s ease;

  &[data-state='open'] {
    width: 64px;
    color: var(--primary-500);
  }
}

.item {
  cursor: initial;
}

.sliderTrackClass {
  height: 6px;
}

.sliderThumbClass {
  width: 15px;
  height: 15px;
  box-shadow: 0 0 0 4px var(--primary-500);
}
