.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 378px;
  padding: 23px 24px 36px;

  h1 {
    padding-bottom: 37px;
  }

  p {
    padding-bottom: 41px;
    color: var(--light-900);
  }
}

.firstTextField {
  padding-bottom: 24px;
}

.secondTextField {
  padding-bottom: 7px;
}
