@import '@/app/styles/mixins';

.card {
  width: 378px;
  padding: 23px 24px 36px;
}

.title {
  margin-bottom: 37px;
}

.firstTextField {
  margin-bottom: 24px;
}

.secondTextField {
  margin-bottom: 7px;
}

.limitations {
  margin-bottom: 41px;
  color: var(--light-900);
}

@include mobile-small {
  .card {
    width: 100%;
    margin: 0;
    padding: 17px 15px 0;

    background-color: inherit;
    border: none;
  }

  .title {
    margin-bottom: 31px;
  }

  .limitations {
    margin-bottom: 53px;
    color: var(--light-900);
  }
}
