.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 378px;
  padding: 23px 24px 36px;
}

.title {
  margin-bottom: 37px;
}

.firstTextField {
  margin-bottom: 24px;
}

.secondTextField {
  margin-bottom: 7px;
}

.limitations {
  margin-bottom: 41px;
  color: var(--light-900);
}
