.dialog {
  width: 100%;
  height: calc(100vh - 2 * (var(--header-height)));
  background-color: var(--dark-700);
}

.uploadDialog {
  max-width: 330px;
  height: auto;
  background-color: var(--dark-300);
}

.title {
  display: flex;
  justify-content: space-between;
}

.close {
  width: 24px;
  height: 24px;
  color: var(--light-100);
}

.extendedDialog {
  max-width: 900px;
}

.confirmActions {
  display: flex;
  justify-content: space-between;
}
