.root {
  all: unset;

  cursor: pointer;

  display: flex;
  align-items: center;

  border-radius: 2px;

  transition: color 0.2s linear;

  &:focus {
    outline: 2px solid var(--primary-700);
  }

  &:hover {
    color: var(--primary-700);
  }
}

.withTitle {
  gap: 0.75rem;
}

.title {
  user-select: none;
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
}
