.wrapper {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
}

.link {
  margin-top: 1.5rem;
}

.title {
  margin-bottom: 1.25rem;
}

.subTitle {
  margin: 0.5rem 0;
  text-indent: 2rem;
}

.text {
  text-indent: 2rem;
}
