@import '@/app/styles/mixins';

.sidebar {
  position: sticky;
  top: var(--header-height);

  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  width: 13.75rem;
  height: calc(100dvh - var(--header-height));
  padding: 4.5rem 0 2.25rem var(--container-padding);

  background-color: var(--dark-700);
  border-right: 1px solid var(--dark-300);
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  padding: 0;
}

@include mobile {
  .sidebar {
    display: none;
  }
}
