@import '@/app/styles/mixins';

.postDetails {
  display: grid;
  grid-template-areas:
    'slider header'
    'slider content'
    'slider footer'
    'slider form';
  grid-template-columns: 1fr 1fr;
  background-color: var(--dark-300);

  .slider {
    grid-area: slider;
    width: 100%;
    border-right: 1px solid var(--dark-100);
  }

  .header {
    grid-area: header;
  }

  .content {
    grid-area: content;
  }

  .footer {
    grid-area: footer;
  }

  .form {
    grid-area: form;
  }
}

.commentsDetails {
  display: none;
}

.viewComments {
  display: none;
}

@include mobile {
  .postDetails {
    scrollbar-color: var(--dark-100) transparent;

    overflow: hidden auto;
    grid-template-areas: 'header' 'slider' 'footer' 'viewComments' 'content' 'form';
    grid-template-columns: 1fr;

    height: 100%;

    background-color: unset;

    .viewComments {
      display: inline;
      grid-area: viewComments;

      margin: 0 auto 0 0;
      padding: 18px 0 0 22px;

      color: var(--light-900);

      background-color: unset;
      border: none;
    }

    .slider {
      height: 324px;
      border: none;
    }
  }

  .commentsDetails {
    display: block;

    .titleWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      height: var(--comment-title-height);
      margin: 0 24px;
    }
  }

  .hide {
    display: none;
  }
}
