@import '@/app/styles/mixins';

.comment {
  display: flex;
  gap: 12px;
  padding: 0 24px 15px;
}

.content {
  width: 100%;
}

.textWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.text {
  word-break: break-all;
}

.buttonHeart {
  padding: 0;
}

.heart {
  width: 16px;
  height: 16px;
  color: var(--danger-500);
}

.heartOutline {
  left: 12px;
  width: 16px;
  height: 16px;
  color: var(--light-100);
}

.footer {
  display: flex;
  gap: 12px;
  color: var(--light-900);
}

.answerBtn {
  padding: 0;
  color: var(--light-900);
}

@include mobile {
  .shortText {
    overflow: hidden;
    display: -webkit-box;

    text-overflow: ellipsis;

    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .avatar {
    display: none;
  }
}
