@import '@/app/styles/mixins';

.comment {
  display: flex;
  padding: 0 24px;
}

.link {
  display: contents;
}

.avatar {
  margin-top: 8px;
  margin-right: 12px;
}

.commentContent {
  width: 100%;
}

.textContent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.message {
  margin-bottom: 5px;
  line-height: 171%;
}

.text {
  word-break: break-all;
}

.buttonHeart {
  margin-top: 10px;
  margin-left: 24px;
  padding: 0;
}

.heart {
  width: 16px;
  height: 16px;
  color: var(--danger-500);
}

.heartOutline {
  left: 12px;
  width: 16px;
  height: 16px;
  color: var(--light-100);
}

.commentFooter {
  display: flex;
  gap: 12px;

  margin-bottom: 15px;

  line-height: 131%;
  color: var(--light-900);
}

.answerBtn {
  padding: unset;
  color: var(--light-900);
}

@include mobile {
  .shortenedComments {
    overflow: hidden;
    display: -webkit-box;
    grid-area: aboutMe;

    text-overflow: ellipsis;
    word-break: break-all;

    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}
