@import '@/app/styles/mixins';

.active {
  color: var(--primary-500);
}

.postInfo {
  padding: 12px 24px 7px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.wrapper {
  display: flex;
  gap: 24px;
}

.iconBtn {
  padding: 0;
  color: var(--light-100);
}

.icon {
  width: 24px;
  height: 24px;
}

.messageBtn {
  display: none;
}

.avatars {
  position: relative;
  display: flex;
  margin-left: 30px;
}

.avatar {
  position: absolute;
}

.likesCount {
  margin-bottom: 5px;
  margin-left: 70px;
}

.date {
  color: var(--light-900);
}

@include mobile {
  .messageBtn {
    display: inline-flex;
  }

  .likesCount {
    font-size: var(--font-size-s);
  }
}
