@import '@/app/styles/mixins';

.container {
  width: 100%;
  max-width: 972px;
  margin: 0 auto;
}

.users {
  margin-bottom: 36px;
}

.notification {
  margin: 10px 0;
}

.errorPage {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;

  margin-top: 50px;

  .description {
    max-width: 800px;
  }

  .errorImage {
    max-height: 500px;
  }

  .link {
    text-decoration: underline;
  }
}

@include tablet {
  .users {
    margin-bottom: 0;
  }
}
