@import '@/app/styles/mixins';

.dialog {
  width: 100%;
  max-width: 492px;
  margin: 0 15px;
}

.extendedDialog {
  max-width: 900px;
}

.confirmActions {
  display: flex;
  justify-content: space-between;
}

@include mobile {
  .dialog {
    margin: 0;
  }

  .dialogUpload {
    width: 95%;
  }

  .confirmActions {
    flex-direction: column;
    gap: 24px;
  }

  .dialogMobile {
    max-width: unset;
    height: calc(100dvh - (2 * var(--header-height)));
    margin: 0;

    background-color: var(--dark-700);
    border: none;
    border-radius: unset;
  }

  .extendedDialog {
    max-width: unset;
  }
}
