.post {
  width: 234px;

  & .banner {
    padding: 12px 0;
  }
}

.slider {
  cursor: pointer;
  width: 234px;
  height: 240px;
  transition: height 0.2s linear;
}

.sliderMin {
  height: 120px;
}

.timeAgo {
  margin-bottom: 3px;
  color: var(--light-900);
}

.description {
  overflow: hidden;
  display: -webkit-box;

  height: 60px;

  text-overflow: ellipsis;
  word-break: break-all;

  transition: height 0.2s linear;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.descriptionMax {
  height: 180px;

  -webkit-line-clamp: 8;
}

.toggleText {
  cursor: pointer;
  user-select: none;

  float: right;

  font-size: var(--font-size-s);
  color: var(--primary-500);
  text-decoration: underline;
}
