@import '@/app/styles/mixins';

.viewport {
  width: 150px;
  background-color: rgba(#171717, 0.7); // dark-500
  border: none;
}

.expandBtn {
  padding: 6px;
  color: var(--light-100);
  background-color: rgba(#171717, 0.7); // dark-500

  & .icon {
    width: 24px;
    height: 24px;
  }

  &[data-state='open'] {
    color: var(--primary-500);
  }
}

.item {
  cursor: initial;
}

.sliderTrackClass {
  height: 3px;
}

.sliderThumbClass {
  width: 7px;
  height: 7px;
  box-shadow: 0 0 0 4px var(--primary-500);
}

@include mobile {
  .viewport {
    width: 100vw;
    background-color: transparent;
  }

  .item {
    height: 60px;
    margin: 10px;
    background-color: var(--dark-500);
    border-radius: 2px;
  }

  .expandBtn {
    background-color: var(--dark-500);

    & .icon {
      width: 40px;
      height: 40px;
    }
  }

  .sliderTrackClass {
    height: 10px;
  }

  .sliderThumbClass {
    width: 15px;
    height: 15px;
  }
}
