.viewport {
  position: relative;
  background-color: rgba(#171717, 0.7); // dark-500
  border: none;
}

.expandBtn {
  padding: 6px;
  color: var(--light-100);
  background-color: rgba(#171717, 0.7); // dark-500

  &[data-state='open'] {
    color: var(--primary-500);
  }
}

.squareBtn {
  padding: 0;
}

.slider {
  width: 100px;
}

.sliderTrackClass {
  height: 2px;
}

.sliderThumbClass {
  width: 6px;
  height: 6px;
  box-shadow: 0 0 0 3px var(--primary-500);
}
