.zoomInContainer {
  position: absolute;

  bottom: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 36px;

  background-color: rgba(#171717, 0.8);
  border-radius: 2px;
}

.zoomInBtn {
  width: 36px;
  height: 36px;
  margin: 0;
  padding: 0;

  background-color: rgba(#171717, 0.7);

  .isOpenIcon {
    color: var(--primary-500);
  }

  &:hover {
    background-color: rgba(#171717, 0.8);
  }
}

.squareBtn {
  padding: 0;
}

.slider {
  width: 100px;
}
.sliderTrackClass {
  height: 2px;
}
.sliderThumbClass {
  width: 6px;
  height: 6px;
  box-shadow: 0 0 0 3px var(--primary-500);
}
