.logout {
  justify-content: start;

  margin-top: auto;
  padding: 0.75rem 2rem 0.75rem 0;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-m);
  color: var(--light-100);
}

.email {
  font-weight: var(--font-weight-bold);
}
