.item {
  all: unset;
  cursor: pointer;
  padding: 0.75rem 2rem 0.75rem 0;
  transition: color 0.2s linear;

  &:hover {
    color: var(--primary-100);
  }
}

.disabled {
  pointer-events: none;
  color: var(--dark-100);
}

.full {
  gap: 0.75rem;
}

.active {
  font-weight: var(--font-weight-bold);
  color: var(--primary-500);
}

.button {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  margin: 0;
  padding: 0;

  font-weight: var(--font-weight-medium);
  color: inherit;

  &:focus-visible {
    border-radius: 2px;
  }
}

.link {
  display: flex;
  align-items: center;
  max-width: 100%;
  font-weight: var(--font-weight-medium);

  &:focus-visible {
    border-radius: 2px;
    outline: 2px solid var(--primary-500);
  }
}

.title {
  user-select: none;
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
}

.lastGroupItem {
  margin-bottom: 2.25rem;
}
