@import '@/app/styles/mixins';

.header {
  position: sticky;
  z-index: 10;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: var(--header-height);
  padding: 0.75rem 0;

  background-color: var(--dark-700);
  border-bottom: 1px solid var(--dark-300);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 0 var(--container-padding);
}

.logo {
  cursor: pointer;
}

.actions {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.login {
  margin-left: 2.25rem;
}

.register {
  margin-left: 1.5rem;
}

.mobile {
  display: none;
}

@include mobile {
  .content {
    padding: 12px 18px;
  }

  .pc {
    display: none;
  }

  .mobile {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 24px;
    padding: 0;

    color: var(--light-100);
  }

}
