.imagesArrayBtn {
  width: 36px;
  height: 36px;
  margin: 0;
  padding: 0;

  background-color: rgba(#171717, 0.7);

  .isOpenIcon {
    color: var(--primary-500);
  }

  &:hover {
    background-color: rgba(#171717, 0.8);
  }
}

.wrapper {
  position: absolute;
  right: 0;
  bottom: 49px;

  display: flex;
  gap: 12px;

  height: 106px;
  padding: 12px;

  background-color: rgba(#171717, 0.8);
  border-radius: 2px;

  .addImageBtn {
    cursor: pointer;
  }

  .image {
    position: relative;

    .deleteBtn {
      position: absolute;
      top: 2px;
      right: 2px;

      width: 12px;
      height: 12px;
      margin: 0;
      padding: 0;

      background-color: rgba(#171717, 0.8);
    }
  }
}
