.dialog {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 438px;
  padding: 30px 24px 36px;
}

.content {
  align-self: start;
  margin-bottom: 30px;
}

.actions {
  display: flex;
  gap: 24px;
  align-self: end;
}
