@import '@/app/styles/mixins';

.comments {
  scrollbar-color: var(--dark-100) transparent;

  overflow-y: auto;

  height: 336px;

  border-top: 1px solid var(--dark-100);
  border-bottom: 1px solid var(--dark-100);
}

@include mobile {
  .comments {
    height: min-content;
    border: unset;

    & .hidden {
      display: none;
    }
  }
}
