@import '@/app/styles/mixins';

.comments {
  scrollbar-color: var(--dark-100) transparent;
  overflow: hidden auto;
  height: 336px;
  border-bottom: 1px solid var(--dark-100);
}

@include mobile {
  .comments {
    height: calc(100vh - var(--header-height) - var(--header-height) - var(--comment-title-height));
    padding-top: 5px;
    border-bottom: unset;

    .hidden {
      display: none;
    }

    .line {
      margin-bottom: 18px;
      border-bottom: 1px solid var(--dark-100);
    }
  }
}
