@import '@/app/styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.image {
  width: 42px;
  height: 42px;
}

.wrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 192px;
  height: 192px;

  background-color: var(--dark-500);
  border-radius: 50%;
}

.deleteAvatar {
  position: absolute;
  z-index: 0;
  top: 6px;
  right: 21px;

  width: 24px;
  height: 24px;
  padding: 0;

  color: var(--light-100);

  background: var(--danger-500);
  border: 3px solid var(--dark-500);
  border-radius: 50%;

  &:hover {
    color: var(--light-100);
    background-color: var(--danger-300);
  }
}

.closeIcon {
  width: 16px;
  height: 16px;
}

.dialog {
  width: 100%;
  max-width: 492px;
}

@include tablet {
  .wrapper {
    width: 250px;
    height: 250px;
  }

  .avatar {
    width: 250px !important;
    height: 250px !important;
  }

  .deleteAvatar {
    width: 40px;
    height: 40px;
  }

  .closeIcon {
    width: 24px;
    height: 24px;
  }
}

@include mobile {
  .addBtn {
    width: 100%;
  }

  .dialog {
    width: 95%;
  }
}
