.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  position: relative;

  width: 192px;
  height: 192px;
  margin-bottom: 24px;

  background: inherit;
}

.image {
  width: 42px;
  height: 42px;
}

.avatar {
  border-radius: 50%;
}

.avatarWrapper {
  position: relative;
  z-index: 10;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 192px;
  height: 192px;

  background: inherit;
  background: var(--dark-500);
  border-radius: 50%;
}

.deleteAvatar {
  position: absolute;
  z-index: 0;
  top: 6px;
  right: 21px;

  width: 24px;
  height: 24px;
  padding: 0;

  color: var(--light-100);

  background: var(--danger-500);
  border: 3px solid var(--dark-500);
  border-radius: 50%;

  &:hover {
    color: var(--light-100);
    background-color: var(--danger-300);
  }
}

.closeIcon {
  width: 16px;
  height: 16px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 192px;
  height: 192px;

  background: var(--dark-500);
  border-radius: 50%;
}
