.wrapper {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
}

.link {
  margin-top: 1.5rem;
}

.title {
  margin-top: 1.5rem;
  margin-bottom: 1.25rem;
}

.subTitle {
  margin: 0 0 0.5rem;
  text-indent: 2rem;
}

.text {
  margin: 0 0 1rem;
  text-indent: 2rem;
}
