@import '@/app/styles/mixins';

.dialog {
  width: 100%;
  max-width: 972px;
}

.editDialog {
  display: grid;
  grid-template:  auto auto 1fr / 1fr 1fr;
  grid-template-areas:
    'header header'
    'slider title'
    'slider comment';
}

.header {
  display: grid;
  grid-area: header;
  grid-template-areas: 'edit closeIcon';
  grid-template-columns:  1fr auto;
  align-items: center;

  height: var(--header-height);
  padding: 0 15px;

  border-bottom: 1px solid var(--dark-100);


  .closeIcon {
    cursor: pointer;

    grid-area: closeIcon;

    width: 24px;
    height: 24px;

    color: var(--light-100);
  }

  .edit {
    grid-area: edit;
  }

  .cancel {
    display: none;
    grid-area: cancel;
  }

}

.slider {
  grid-area: slider;
  width: 100%;
  height: 503px;
  border-right: 1px solid var(--dark-100);

}

.title {
  grid-area: title;
}

.comment {
  grid-area: comment;
}


@include mobile {
  .dialog {
    height: calc(100vh - var(--header-height));
    margin-top: 28px;
    background-color: var(--dark-700);
  }

  .slider {
    height: 100%;
    min-height: 350px;
    padding: 0 15px;
  }

  .editDialog {
    grid-template:  auto  1fr auto auto/ auto;
    grid-template-areas:
    'header'
    'slider'
    'title'
    'comment';
  }

  .header {
    grid-template-areas: 'cancel edit .';
    grid-template-columns: 1fr auto 1fr;
    border-bottom: unset;

    .cancel {
      display: inline;
      margin: 0 auto 0 0;
    }

    .closeIcon {
      display: none;
    }

    .edit {
      font-size: var(--font-size-l);
      line-height: var(--line-height-m);
    }
  }

  .save {
    all: unset;

    position: absolute;
    top: 21px;
    right: 15px;

    color: var(--primary-500);
  }
}
