.block {
  margin: 70px auto;
}

.dialogContainer {
  width: 378px;
}

.modal {
  padding: 24px;
}

.modalBtn {
  display: flex;
  justify-content: flex-end;
}

.modalMessage {
  margin-bottom: 24px;
}
