@import '@/app/styles/mixins';

.title {
  margin-bottom: 18px;
}

.content {
  padding: 12px 24px;
}

@include mobile {
  .title {
    margin-bottom: 5px;
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-m);
  }
}
