@import '@/app/styles/mixins';

.slider {
  width: 50%;
  height: 100%;
}

.filtersContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;
  width: 50%;
}

@include mobile {
  .slider {
    width: 100%;
    margin-bottom: 20px;
  }

  .filtersContainer {
    overflow: scroll hidden;
    display: flex;
    gap: 8px;

    width: 100%;
    padding-bottom: 18px;
  }
}
