.container {
  display: flex;
  flex-direction: column;
  gap: 25px;

  width: 100%;
  padding: 0 25px;
}

.slider {
  width: 100%;
  height: 40vh;
  margin-bottom: 61px;
}

.filtersContainer {
  overflow-x: auto;
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}

.name {
  line-height: var(--line-height-lg);
}

.item {
  object-fit: cover;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;

  transition: all 0.2s linear;

  &.active {
    font-weight: var(--font-weight-semibold);
    color: var(--primary-500);
  }
}
