@import '@/app/styles/mixins';

.wrapper {
  display: flex;
}

.main {
  flex-grow: 1;
  min-width: 0;
  padding: 36px var(--container-padding) 36px 24px;
}

@include tablet {
  .main {
    padding: 36px 18px 18px;
  }
}
