.card {
  width: 378px;
  margin: 72px auto 0;
  padding: 23px;
}

.textField {
  margin-top: 37px;
}

.description {
  margin-top: 7px;
  color: var(--light-900);
}

.button {
  margin-top: 17px;
}

.linkWrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.recaptcha {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 30px;
  padding: 14px 20px;

  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}

@media (width <= 768px) {
  .card {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: 0;
    padding: 17px 15px 0;

    background-color: inherit;
    border: none;
  }

  .title {
    font-size: var(--font-size-l);
    line-height: var(--line-height-m);
  }

  .textField {
    margin-top: 31px;
  }

  .recaptcha {
    order: 1;
    margin-top: 53px;
  }

  .linkWrapper {
    order: 3;
    margin-top: 24px;
  }

  .button {
    order: 2;
    margin-top: 36px;
  }
}
