.card {
  display: flex;
  flex-direction: column;

  width: 378px;
  margin-top: 72px;
  padding: 23px;


}

.textField {
  margin-top: 37px;
}

.description {
  margin-top: 7px;
  color: var(--light-900);
}


.button {
  margin-top: 17px;
}

.link {
  margin: 30px auto;
}

.recaptcha {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 20px;
}

@media (width <= 768px) {
  .card {
    width: 100%;
    margin: 0;
    padding: 17px 15px 0;

    background-color: inherit;
    border: none;
  }

  .title {
    font-size: var(--font-size-l);
    line-height: var(--line-height-m);
  }

  .textField {
    margin-top: 31px;
  }

  .recaptcha {
    order: 1;
    margin-top: 53px;
  }

  .link {
    order: 3;
    margin-top: 24px;
  }

  .button {
    order: 2;
    margin-top: 36px;
  }
}
