@import '@/app/styles/mixins';

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 378px;
  padding: 23px 24px 36px;
}

.textField {
  margin-top: 37px;
}

.description {
  margin-top: 7px;
  color: var(--light-900);
}

.button {
  order: 1;
  margin-top: 17px;
}

.link {
  order: 2;
  width: 100%;
  margin: 24px auto;
}

.recaptcha {
  display: flex;
  align-items: center;
  justify-content: space-between;
  order: 3;

  padding: 14px 20px;
}

@include mobile-small {
  .card {
    width: 100%;
    margin: 0;
    padding: 17px 15px 0;

    background-color: inherit;
    border: none;
  }

  .textField {
    margin-top: 31px;
  }

  .recaptcha {
    order: 1;
    margin-top: 53px;
  }

  .link {
    order: 3;
    margin-top: 24px;
  }

  .button {
    order: 2;
    margin-top: 36px;
  }
}
