.container {
  display: flex;
  flex-direction: column;
  gap: 25px;

  width: 100%;
  padding: 0 25px;
}

.slider {
  width: 100%;
  height: 40vh;
}

.image {
  object-fit: contain;
}

.list {
  right: 11px;
  bottom: 11px;
}
