.container {
}

.save {
  position: absolute;
  bottom: 19px;
  right: 76px;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
}

.slide {
  .splideSlide {
    position: relative;
    width: 100%;
    height: 503px;
  }
}

.secondWindow {
  width: 400px;
  height: 100%;
}
