.cropperContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cropperWindow {
  position: relative;
  width: 100%;
  height: 503px;
}

.save {
  position: absolute;
  top: 19px;
  right: 36px;
  margin: 0;
  padding: 0;
}
