@import '@/app/styles/mixins';

.ProfileInfo {
  display: grid;
  grid-template-areas:
    'avatar name settings'
    'avatar subscriber .'
    'avatar aboutMe aboutMe';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  gap: 20px 38px;

  margin-bottom: 48px;

  .aboutMe {
    overflow: hidden;
    display: -webkit-box;
    grid-area: aboutMe;

    text-overflow: ellipsis;

    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .settings {
    grid-area: settings;
  }

  .avatar {
    grid-area: avatar;
    width: 200px;
    height: 200px;
  }

  .name {
    grid-area: name;
  }

  .subscriber {
    display: flex;
    grid-area: subscriber;
    gap: 80px;
    align-items: center;

    margin: 0;
    padding: 0;

    font-size: var(--font-size-s);
    list-style: none;

    & .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: var(--line-height-m);

      & .count {
        font-weight: var(--font-weight-bold);
      }
    }
  }
}

@include mobile {
  .ProfileInfo {
    grid-template-areas:
      'avatar subscriber'
      'name .'
      'aboutMe aboutMe';
    row-gap: 10px;
    place-items: center center;
    margin-bottom: 29px;

    .avatar {
      width: 72px;
      height: 72px;
    }

    .settings {
      display: none;
    }

    .name {
      font-size: var(--font-size-m);
      line-height: var(--line-height-m);
    }

    .subscriber {
      gap: unset;
      justify-content: space-between;
      width: 100%;

      .item {
        font-size: var(--font-size-xs);
      }
    }

    .aboutMe {
      font-size: var(--font-size-s);
      line-height: var(--line-height-m);
    }
  }
}

.text {
  word-break: break-all;
}
