.container {
  display: flex;
  align-items: center;
  width: 100%;
}

.label {
  cursor: pointer;

  display: inline-flex;
  gap: 2px;
  align-items: center;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--light-100);

  &.disabled {
    color: var(--dark-100);
  }
}

.checkboxWrapper {
  all: unset;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px;

  background-color: inherit;
  border-radius: 50%;

  transition: background-color 0.2s ease-in-out;

  &.disabled {
    cursor: default;
  }

  &:focus {
    background-color: var(--dark-500);
  }

  &:active:not(.disabled) {
    background-color: var(--dark-100);
  }

  &:hover:not(.disabled),
  &:hover.root:not([data-state='checked'], .disabled) {
    background-color: var(--dark-100);
  }
}

.checkbox {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 24px;
  height: 24px;

  background-color: transparent;
  border: 2px solid var(--light-500);
  border-radius: 3px;

  transition: 0.2s ease-in-out;

  &.disabled {
    cursor: initial;
    border: 2px solid var(--dark-100);
  }
}

.checked {
  background-color: var(--light-100);
  border: 2px solid var(--light-100);

  &.disabled {
    background-color: var(--dark-100);
    border: 2px solid var(--dark-100);
  }
}

.checkIcon {
  fill: var(--dark-900);
}

.checkIconDisabled {
  fill: var(--light-700);
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
}
