.container {
  display: flex;
  align-items: center;
  width: 100%;
}

.label {
  cursor: pointer;

  display: inline-flex;
  gap: 2px;
  align-items: center;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--light-100);

  &.disabled {
    color: var(--dark-100);
  }
}

.checkboxWrapper {
  all: unset;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  background-color: inherit;
  border-radius: 50%;

  &.disabled {
    cursor: default;
  }
}

.checkbox {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;
  padding: 3px 1px;

  background-color: transparent;
  border: 2px solid var(--light-500);
  border-radius: 3px;

  &::before {
    content: '';

    position: absolute;
    z-index: -1;

    width: 36px;
    height: 36px;

    opacity: 0;
    background-color: var(--dark-100);
    border-radius: 50%;
  }

  &:hover:not(.disabled),
  &.root:not([data-state='checked'], .disabled) {
    &::before {
      opacity: 1;
      background-color: var(--dark-300);
      transition: opacity 0.2s ease-in-out;
    }
  }

  &:focus:not(.disabled),
  &:focus-visible:not(.disabled),
  &:focus-within:not(.disabled),
  &.root:not([data-state='checked'], .disabled) {
    outline: none;

    &::before {
      opacity: 1;
      background-color: var(--dark-500);
    }
  }

  &:active:not(.disabled),
  &.root:not([data-state='checked'], .disabled) {
    &::before {
      opacity: 1;
      background-color: var(--dark-100);
    }
  }

  &.disabled {
    cursor: initial;
    border: 2px solid var(--dark-100);
  }
}

.checked {
  background-color: var(--light-100);
  border: 2px solid var(--light-100);

  &.disabled {
    background-color: var(--dark-100);
    border: 2px solid var(--dark-100);
  }
}

.checkIcon {
  fill: var(--dark-900);
}

.checkIconDisabled {
  fill: var(--light-700);
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
}
